/* /__ frontend/src/index.css  __/ */

  body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background:
	repeating-linear-gradient(
		to top left,
		beige 0,
		beige 2em,
		moccasin 2em,
		moccasin 4em,
		wheat 4em,
		wheat 6em
	),
	repeating-linear-gradient(
		to left,
		white 0,
		white 2em,
		wheat 2em,
		wheat 4em,
		beige 4em,
		beige 6em
	), white;

background-blend-mode: multiply;
  }
  .todo-title {
    
    cursor: pointer;
  }
  .completed-todo {
    text-decoration: line-through;
  }
  .tab-list > span {
    padding: 5px 8px;
    border: 1px solid #282c34;
    border-radius: 10px;
    margin-right: 5px;
    cursor: pointer;
  }
  .tab-list > span.active {
    background-color: #0f5af0;
    color: #ffffff;
  }
  .text-white{
    color:#0407a3!important;
    font-size: 4em;
  }